{{ define "main" }}
<article class="cf ph3 ph5-ns pv5">
    <header class="fn fl-ns w-50-ns pr4-ns">
        <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
          <a href="#" class="near-black no-underline link dim">
            {{ .Title }}
        </a>
        </h1>
      <h2 class="f3 mid-gray lh-title">
        {{ with .Params.authors }}{{ if eq "string" (printf "%#T" . ) }}{{.}}{{else}} {{ delimit . ", "}}{{ end }}{{ end }}
      </h2>
        <time class="f6 ttu tracked gray">{{ .Date | dateFormat "January 2, 2006"}}</time>
    </header>
    <div class="fn fl-ns w-50-ns lh-copy">
        {{ .Content }}
    </div>
</article>
{{ end }}